atomicwrites==1.1.5
attrs==18.1.0
backcall==0.1.0
certifi==2018.8.13
chardet==3.0.4
-e git+git@github.com:mieszkosluzewski/currency.git@0ff4942f9fe62f1c51621995a4aa484b4d98e389#egg=currency_exchange
decorator==4.3.0
Django==2.2.24
django-extensions==2.1.0
django-filter==2.0.0
djangorestframework==3.8.2
feedparser==5.2.1
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
mock==2.0.0
more-itertools==4.3.0
parso==0.3.1
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.5.4
Pygments==2.2.0
pytest==3.7.2
pytz==2018.5
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
